[submodule "bundles/snipmate"]
	path = bundles/snipmate
	url = git://github.com/yuriyvolkov/snipmate.vim.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles/vim-rails"]
	path = bundles/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundles/vim-cucumber"]
	path = bundles/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundles/vim-haml"]
	path = bundles/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundles/endwise"]
	path = bundles/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundles/surround"]
	path = bundles/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundles/unimpaired"]
	path = bundles/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundles/ragtag"]
	path = bundles/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundles/pastie"]
	path = bundles/pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "bundles/vim-git"]
	path = bundles/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = git://github.com/tpope/vim-fugitive.git
