[submodule "bundles/snipmate"]
	path = bundles/snipmate
	url = git://github.com/yuriyvolkov/snipmate.vim.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
