tags
*~
*.swp
VimballRecord
bundles/endwise/*
bundles/fugitive/*
bundles/nerdcommenter/*
bundles/nerdtree/*
bundles/ragtag/*
bundles/snipmate/*
bundles/surround/*
bundles/syntastic/*
bundles/unimpaired/*
bundles/cucumber/*
bundles/git/*
bundles/haml/*
bundles/rails/*
bundles/ruby/*
bundles/abolish/*
bundles/repeat/*
bundles/extradite/*
bundles/pastie/*
bundles/ctrlp/
bundles/camelcasemotion/
bundles/buffergator/
bundles/ack/
bundles/css-color/
bundles/less/
bundles/sinatra/
bundles/tagbar/
