tags
*~
*.swp
VimballRecord
bundles/endwise/*
bundles/fugitive/*
bundles/nerdcommenter/*
bundles/nerdtree/*
bundles/ragtag/*
bundles/snipmate/*
bundles/surround/*
bundles/syntastic/*
bundles/unimpaired/*
bundles/vim-cucumber/*
bundles/vim-git/*
bundles/vim-haml/*
bundles/vim-rails/*
bundles/vim-ruby/*
bundles/abolish/*
bundles/repeat/*
bundles/vim-extradite/*
bundles/pastie/*
bundles/ctrlp/
bundles/camelcasemotion/
bundles/vim-buffergator/
